*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Insta';
    src: url(fonts/InstagramSansScript-Bold.ttf) format(truetype);
}

.principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}