*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.microsoft{
    height: 45px;
}

.google-play{
    height: 43px;
}

.facebook{
    height: 20px;
    width: 20px;
    position: relative;
    right: 30px;
    top: 23px;
}

.instagram-logo{
    height: 68px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.insta-celular{
    margin-top: 50px;
}

.principal{
    align-items: center;
    justify-content: center;
    display: flex;
}

.principal-login{
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
}

/* border: 1px solid rgba(160, 160, 160, 0.534);*/

.main-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 400px;
    border: 1px solid rgba(160, 160, 160, 0.411);
    margin-left: 30px;
    padding-top: 1px;
}

.main-register{
    border: 1px solid rgba(160, 160, 160, 0.411);
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
    height: 60px;
}

.main-register,ul{
    text-decoration: none;
    list-style-type: none;
    font-family: 'segoe ui', sans-serif;
    font-size: 14px;
}

.aaa{
    color: #3578e5c0;
    font-family: 'segoe ui', sans-serif;
}

.main-input,a{
    text-decoration: none;
    font-family: 'segoe ui', sans-serif;

}

.no-user{
    margin: 2px;
}

.input-facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
}

.esqueceu-senha{
    padding: 10px;
    font-family: 'segoe ui', sans-serif;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    top: 10px;
}

.face{
    text-decoration: none;
    font-family: 'segoe ui', sans-serif;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 5px;
}

input{
    margin: 3px;
    width: 250px;
    height: 36px;
}



.email{
    padding: 7px;
    width: 260px;
    border: 1px solid rgba(160, 160, 160, 0.411);
    border-radius: 2px;
}

.password{
    padding: 7px;
    width: 260px;
    border: 1px solid rgba(160, 160, 160, 0.411);
    border-radius: 2px;
}

.entrar{
    border: 1px solid #3578e5c0;
    background-color: #3578e5c0;
    border-radius: 10px;
    height: 30px;
    margin-top: 6px;
    width: 265px;
}

.enter{
    position: relative;
    bottom: 28px;
    font-family: 'segoe ui', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.principio{
    position: relative;
    bottom: 30px;
}

::placeholder{
    font-size: 12px;
}

.border-left::after{
    content: '';
    display: inline-block;
    position: relative;
    left: 75px;
    bottom: 10px;
    height: 1px;
    width: 100px;
    background-color: rgb(173, 173, 173);
}

.border-right::after{
    content: '';
    display: inline-block;
    position: relative;
    right: 70px;
    bottom: 46px;
    height: 1px;
    width: 100px;
    background-color: rgb(173, 173, 173);
}

.ou{
    position: relative;
    bottom: 23px;
    left: 43px;
    font-size: 12px;
    font-family: 'segoe ui', sans-serif;
    color:rgb(160, 160, 160);
    font-weight: bold;
}

.main-obtenha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'segoe ui', sans-serif;
    font-size: 14px;
}

.obtenha{
    margin-top: 10px;
}
